#secondParagraph {
    background-color:black;
}
p {
    background-color:green;
}
.yellowBg {
    background-color:yellow;
}
#intro {
    background-color:gray;
}
h1 {
    color: red;
    background-color:blue;
}

h1 {
    color: blue !important;
    background-color: white !important;
}

