

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- the way to change the size of page, optimal the view -->
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/components/#glyphicons">

    <title>Form Maker</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
    <!--<link href=""-->
    <link href="../../css/main.css" rel="stylesheet">
</head>

<body>

<!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
    <!--<div class="container-fluid">-->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--<a class="navbar-brand" href="home.view.html">Form Maker</a>-->
        <!--</div>-->
        <!--<div id="navbar" class="navbar-collapse collapse">-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li><a href="#">Username</a></li>-->
                <!--<li><a href="home.view.html">Logout</a></li>-->
                <!--<li><a href="forms.view.html">Forms</a></li>-->
            <!--</ul>-->
            <!--<form class="navbar-form navbar-right">-->
                <!--<input type="text" class="form-control" placeholder="Search...">-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->


<!--<div class="container-fluid">-->
    <!--<div class="row">-->
        <!--<div class="col-sm-3 col-md-2 sidebar">-->
            <!--<ul class="nav nav-sidebar">-->
                <!--<li><a href="home.view.html">Home</a></li>-->
                <!--<li><a href="profile.view.html">Profile</a></li>-->
                <!--<li><a href="admin.view.html">Admin</a></li>-->
                <!--<li class="active"><a href="#">Forms<span class="sr-only">(current)</span></a></li>-->

            <!--</ul>-->
        <!--</div>-->
        <!--&lt;!&ndash;<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">&ndash;&gt;-->
        <!--&lt;!&ndash;<h1>Forms</h1>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
<!--</div>-->
    <div class="col-sm-8 col-sm-offset-3 col-md-9 col-md-offset-2 main">
        <h1>Forms: Registration Form</h1>
    </div>
    <div class="col-sm-8 col-sm-offset-3 col-md-9 col-md-offset-2 main">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="forms.view.html">Forms</a>
            <li role="presentation" class="active"><a href="form-fields.html">Fields</a>
            </li>
        </ul>
        <!--<div class="tab-content" class="active">-->
            <!--<table class="table table-condensed table-bordered table-striped volumes">-->
                <!--<tbody>-->
                <!--<tr>-->
                    <!--<th class="Username">Form Name</th>-->
                    <!--<th class="Password">Action</th>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>-->
                        <!--<input class="form-control input-sm" type="text" id="inputSmall1" placeholder="name">-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<div class="row-fluid form-inline">-->
                            <!--<a href="#" class="glyphicon glyphicon-plus"></a>-->
                            <!--&lt;!&ndash;how to put space here&ndash;&gt;-->
                            <!--<a href="#" class="glyphicon glyphicon-ok"></a>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td><a href="form-fields.html">Registration Form</a></td>-->
                    <!--<td>-->
                        <!--<div class="row-fluid form-inline">-->
                            <!--<a href="#" class="glyphicon glyphicon-remove"></a>-->
                            <!--&lt;!&ndash;how to put space here&ndash;&gt;-->
                            <!--<a href="#" class="glyphicon glyphicon-pencil"></a>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td><a href="form-fields.html">Contact List</a></td>-->
                    <!--<td>-->
                        <!--<div class="row-fluid form-inline">-->
                            <!--<a href="#" class="glyphicon glyphicon-remove"></a>-->
                            <!--&lt;!&ndash;how to put space here&ndash;&gt;-->
                            <!--<a href="#" class="glyphicon glyphicon-pencil"></a>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td><a href="form-fields.html">To Do List</a></td>-->
                    <!--<td>-->
                        <!--<div class="row-fluid form-inline">-->
                            <!--<a href="#" class="glyphicon glyphicon-remove"></a>-->
                            <!--&lt;!&ndash;how to put space here&ndash;&gt;-->
                            <!--<a href="#" class="glyphicon glyphicon-pencil"></a>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->



        <!--</div>-->
        <div class="table-responsive">

            <table class="table sptable">
                <tbody>
                    <tr>
                        <td class="nonebored">
                            <label for="exampleInputFirstName1">First Name</label>
                            <br/>
                            <input type="text" id="exampleInputFirstName1" placeholder="First Name" >
                        <!--how to put space here-->
                        </td>
                        <td class="iconright nonebored">
                            </br>
                            <a href="#" class="glyphicon glyphicon-pencil"></a>
                            <a href="#" class="glyphicon glyphicon-plus"></a>
                            <a href="#" class="glyphicon glyphicon-remove"></a>
                            <a href="#" class="glyphicon glyphicon-align-justify"></a>

                        </td>


                    </tr>

                    <tr>
                        <td class="nonebored">
                            <label for="exampleInputLastName1">Last Name</label>
                            <br/>
                            <div>
                                <input type="text" id="exampleInputLastName1" placeholder="Last Name" >
                                <!--how to put space here-->
                            </div>

                        </td>
                        <td class="iconright nonebored">
                            </br>
                            <a href="#" class="glyphicon glyphicon-pencil"></a>
                            <a href="#" class="glyphicon glyphicon-plus"></a>
                            <a href="#" class="glyphicon glyphicon-remove"></a>
                            <a href="#" class="glyphicon glyphicon-align-justify"></a>

                        </td>
                    </tr>
                    <tr>
                        <td class="nonebored">
                                <label for="exampleInputDateofBirth">Date of Birth</label>
                                <br/>
                            <input type="date" placeholder="select date" id="exampleInputDateofBirth">

                        </td>
                    </tr>
                <tr>
                    <td class="nonebored">
                            <b>Gender:</b>
                            <br/>
                            <select name="gender">
                                <option>male</option>
                                <option>female</option>
                            </select>
                    </td>
                </tr>
                <tr>
                    <td class="nonebored">
                        <div class="Role">

                            <label>Roles:</label>
                            <br/>
                            <input type="checkbox" checked> Admin
                            </br>
                            <input type="checkbox"> Student
                            </br>
                            <input type="checkbox" checked> User
                        </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="nonebored">
                        <div class="license agreement">

                            <label>License Agreement:</label>
                            <br/>
                            <input type="radio" name="optionRadios" id="optionRadio1" value="option1" checked> Yes
                            </br>
                            <input type="radio" name="optionRadios" id="optionRadio2" value="option2"> No
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                            <b>Add New Field:</b>
                            <br/>
                            <select name="gender">
                                <option>Single Line Text</option>
                            </select>
                        </td>
                    <td class="iconright">
                            <a onclick="poponload('', 'form', 30, 30)" href="#" class="glyphicon glyphicon-plus"></a>
                    </td>
                </tr>


                    </tbody>
                    </table>
                </div>



                    <!--<form class="form1">-->
                        <!--<div class="form-group">-->

                            <!--<label for="exampleInputFirstName1">First Name</label>-->
                            <!--<br/>-->
                            <!--<div class="sptable">-->
                            <!--<input type="text" id="exampleInputFirstName1" placeholder="First Name">-->
                            <!--<a href="#" class="glyphicon glyphicon-pencil"></a>-->
                            <!--<a href="#" class="glyphicon glyphicon-plus"></a>-->
                                <!--<a href="#" class="glyphicon glyphicon-remove"></a>-->
                            <!--<a href="#" class="glyphicon glyphicon-align-justify"></a>-->
                                <!--&lt;!&ndash;how to put space here&ndash;&gt;-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="form-group">-->
                            <!--<label for="exampleInputLastName1">Last Name</label>-->
                            <!--<br/>-->
                            <!--<div>-->
                            <!--<input type="text" id="exampleInputLastName1" placeholder="Last Name">-->
                            <!--<a href="#" class="glyphicon glyphicon-pencil"></a>-->
                            <!--<a href="#" class="glyphicon glyphicon-plus"></a>-->
                            <!--<a href="#" class="glyphicon glyphicon-remove"></a>-->
                            <!--<a href="#" class="glyphicon glyphicon-align-justify"></a>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label for="exampleInputDateofBirth">Date of Birth</label>-->
                            <!--<br/>-->
                            <!--<input type="date" id="exampleInputDateofBirth">-->

                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<b>Gender:</b>-->
                            <!--<br/>-->
                            <!--<select name="gender">-->
                                <!--<option>male</option>-->
                                <!--<option>female</option>-->
                            <!--</select>-->
                        <!--</div>-->
                        <!--<div class="Role">-->

                            <!--<label>Roles:</label>-->
                            <!--<br/>-->
                            <!--<input type="checkbox" checked> Admin-->
                            <!--</br>-->
                            <!--<input type="checkbox"> Student-->
                            <!--</br>-->
                            <!--<input type="checkbox" checked> User-->
                        <!--</div>-->
                        <!--<div class="license agreement">-->

                            <!--<label>License Agreement:</label>-->
                            <!--<br/>-->
                            <!--<input type="radio" name="optionRadios" id="optionRadio1" value="option1" checked> Yes-->
                            <!--</br>-->
                            <!--<input type="radio" name="optionRadios" id="optionRadio2" value="option2"> No-->
                        <!--</div>-->
                        <!--<hr size="10" NOSHADE>////some here-->
                        <!--<div class="form-group">-->
                            <!--<b>Add New Field:</b>-->
                            <!--<br/>-->
                            <!--<select name="gender">-->
                                <!--<option>Single Line Text</option>-->
                            <!--</select>-->
                            <!--<a onclick="poponload('', 'form', 30, 30)" href="#" class="glyphicon glyphicon-plus"></a>-->
                        <!--</div>-->



                    <!--</form>-->




                <!--</table>-->


    </div>
</div>






<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!--&lt;!&ndash; Just to make our placeholder images work. Don't actually copy the next line! &ndash;&gt;-->
<!--<script src="../../assets/js/vendor/holder.min.js"></script>-->
<!--&lt;!&ndash; IE10 viewport hack for Surface/desktop Windows 8 bug &ndash;&gt;-->
<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->

<script>
    function myFunction(form) {

        window.open("", "formpopup", "width=900, height=400, resizeable, scrollbars,");
        form.target= "formpopup";


    }
</script>

<script>
    function poponload()
    {
        testwindow = window.open("", "mywindow", "location=1,status=1,scrollbars=1,width=400,height=400");
//        testwindow.moveBy(testwindow.outerHeight,testwindow.outerWidth-200);
    }
</script>

<script>
    function PopupCenter(url, title, w, h) {
    // Fixes dual-screen position                         Most browsers      Firefox
    var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : screen.left;
    var dualScreenTop = window.screenTop != undefined ? window.screenTop : screen.top;

    width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
    height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

    var left = ((width / 2) - (w / 2)) + dualScreenLeft;
    var top = ((height / 2) - (h / 2)) + dualScreenTop;
    var newWindow = window.open(url, title, 'scrollbars=yes, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);

    // Puts focus on the newWindow
    if (window.focus) {
    newWindow.focus();
    }
    }
</script>
</body>
</html>
